@import "tailwindcss";

:root {
  --background: #fff1dc;
  --foreground: #1b354e;
  --primary: #1b354e;
  --secondary: #fff1dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), 'Source Sans 3', sans-serif;
}
